# Exclude these files from the git repo
wp-config.php
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
*.sh

.htaccess

# Include these files in previously blocked directories
!wp-content/uploads/.htaccess

# phpstorm
.idea

wp-content/plugins/fix-windows-compatibility/~log.txt
